
.searchBar{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 1vw;
    width: 28vw;
  }
  .log{
      margin-left: auto;
  }

  .search{
      margin-left: 20%;
  }
  .navbar{
      
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 6;
    box-sizing: border-box;
    top: 0; 
}
  
.contact{
    z-index: 6;
}

.login{
    margin-right: 20px;
}

.signup{
    margin-right: 15px;
}